/*Paleta de colores*/
/*#00b4a3, #68c9ab, #fdf4d8, #e0e616, #d4c700*/
/* CSS para formulario de login y registro */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body {
    height: 100%;
    background: #00b4a3;
}
.container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00b4a3;
}
form{
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fdf4d8;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}
select{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #fdf4d8;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.boxes button {
    display: block;
    position: relative;
    left: 25%;
    width: 50%;
    padding: 15px;
    border: none;
    margin-bottom: 5px;
    box-sizing: border-box;
    text-align: center;
    background: #d4c700;
    color: #fdf4d8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
   
.boxes button:hover {
    background: #fdf4d8;
    color: gold;
} 



.botones-test{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

